.movie {
    width: 100%;
    max-width: 57vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-row {
    row-gap: 3.5vh !important;
}

.movie_content {
    width: 100%;
    max-width: 28vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie_container-list {
    display: flex;
    width: 100%;
    height: 300px;
}

.movie_container {
    width: 100%;
    max-width: 27.5vw;
    position: relative;
    overflow: hidden;
    height: 100%;
}

:where(.css-dev-only-do-not-override-xex5fb).ant-card .ant-card-body {
    padding: 0;
    overflow: visible !important;
    height: auto !important;
}

.movie_pagination {
    display: flex;
    justify-content: center;
}

.movie_list-info {
    flex-grow: 1;
    align-items: stretch;
    padding: 16px;
    min-height: 200px;
}

.movie_list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie_rating {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 50%;
}

.movie_list-info-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 12px;
}

.movie_title {
    width: 8vw;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.movie_text {
    max-height: none !important;
    overflow: visible !important;
    height: auto !important;
    white-space: normal !important;
}

.movie_list-info-text { 
    display: block !important;
    overflow: visible !important;
    height: auto !important; 
    max-height: none !important;
    white-space: normal !important;
}

.movie_rating-stars {
    width: 98%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1440px) {
    .movie {
        max-width: 67vw;
    }

    :where(.css-dev-only-do-not-override-xex5fb).ant-row {
        display: flex;
        flex-flow: row wrap;
        min-width: 0;
    }

    .movie_content, .movie_container {
        max-width: 40vw;
    }

    h3 {
        width: 10vw;
        font-size: 18px;
    }
}

@media (max-width: 1144px) {
    .movie {
        max-width: 87vw;
    }

    :where(.css-dev-only-do-not-override-xex5fb).ant-row {
        display: flex;
        flex-flow: row wrap;
        min-width: 0;
    }

    .movie_list-info-text {
        -webkit-line-clamp: 3;
    }

    .movie_content, .movie_container {
        max-width: 57vw;
    }
}

@media (max-width: 1024px) {
    .movie {
        max-width: 87vw;
    }

    :where(.css-dev-only-do-not-override-xex5fb).ant-row {
        display: flex;
        flex-flow: row wrap;
        min-width: 0;
    }

    .movie_content, .movie_container {
        max-width: 57vw;
    }
}

@media (max-width: 822px) {
    .movie {
        max-width: 77vw;
    }

    :where(.css-dev-only-do-not-override-xex5fb).ant-row {
        display: flex;
        flex-direction: column !important;
        flex-flow: wrap;
        min-width: 0;
    }

    .movie_container-list {
        display: flex;
        position: relative;
        z-index: 1;
    }

    .movie_title {
        width: 30vw;
    }

    .movie_content, .movie_container {
        max-width: 87vw;
    }
}

@media (max-width: 768px) {
    .movie {
        max-width: 77vw;
    }

    .movie_content, .movie_container {
        max-width: 87vw;
    }

    .movie_container-list {
        width: 77vw;
        position: relative;
        z-index: 1;
    }

    :where(.css-dev-only-do-not-override-xex5fb).ant-row {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        min-width: 0;
    }

    .movie_title {
        width: 40vw;
    }

    .movie_text {
        position: absolute;
        top: 9rem;
        left: 0.87rem;
        z-index: 10;
    }

    .movie_list-info-text {
        max-height: none;
        overflow: visible;
    }

    .ant-rate {
        margin-top: 6rem;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 425px) {

    .movie_container-list {
        height: 270px;
    }

    .movie_list-info {
        padding: 16px;
        padding-top: 5px;
    }

    .movie_title {
        width: 30vw;
        font-size: 16px;
        margin-bottom: 0;
    }

    .movie_rating {
        padding: 6px 8px;
    }

    .movie_text {
        top: 7.5rem;
    }

    .ant-rate {
        margin-top: 7rem;
        font-size: 14px;
        display: flex;
        justify-content: flex-end;
    }

    .movie_genre {
        font-size: 10px;
    }
}

@media (max-width: 350px) {

    .movie_rating {
        padding: 6px 8px;
    }

    .ant-rate {
        margin-left: -4rem;
        font-size: 16px;
    }
}

